@model ActionCommandGame.Services.Model.Requests.UserSignInRequest

@{
    ViewData["Title"] = "Login"; 
}

<h1>Login</h1>

<form action="/Auth/Login" method="post">
    <div class="mb-3">
        <label for="Email"> Email</label>
        <input type="email" id="Email" name="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Password">Wachtwoord</label>
        <input type="password" id="password" name="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/Auth/Register" class="btn btn-secondary">Registreren</a>
</form>