@{
    ViewData["Title"] = "Spelen";
}

<h1>Action Command Game</h1>

<form asp-action="PerformAction" asp-route-playerId="1" method="get">
    <button type="submit" class="btn btn-primary">Mine!</button>
</form>

<a asp-controller="Item" asp-action="Index" class="btn btn-secondary">Shop</a>
<a asp-controller="PlayerItem" asp-action="Index" asp-route-playerId="1" class="btn btn-secondary">Inventory</a>
<a asp-controller="Player" asp-action="Index" class="btn btn-secondary">Leaderboard</a>