<h1>Action Command Game</h1>

<form action="/Game/PerformAction?playerId=1" method="get">
    <button type="submit" class="btn btn-primary">Mine!</button>
</form>


<a href="/Item/Index">Shop</a>
<a href="/PlayerItem/Index?playerId=1">Inventory</a>
<a href="/Player/Index">Leaderboard</a>